<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>Student Grades</h1>
    <ul>
      <% students.forEach(function(t) { %>
        <li>
          <%= t.student %>
            - 
          <%= t.grade %>
        </li>
      <% }); %>
    </ul>
  </body>
</html>